<div class="align-horizontally cards-container">
<!--   Adding new product -->
  <mat-card class="product-card">
    <mat-card-content>
      <mat-icon class="card-large-icon" mat-list-icon>inventory</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/add']">Add New Product</button>
    </mat-card-actions>
  </mat-card>
<!--   Displaying products -->
  <mat-card class="product-card" *ngFor="let product of products">
    <mat-card-content>
      <p class="card-text-ellipsis">Name: {{product.name}}</p>
      <p class="card-text-ellipsis">Manufacturer: {{product.manufacturer.name}}</p>
      <p class="card-text-ellipsis">Expiry date: {{product.expiryDate | date: "dd.MM.yyyy"}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/edit', product.id]">Edit</button>
      <button mat-button (click)="deleteProduct(product.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
