.cards-container{
    flex-flow: wrap; 
    min-width: 300px; 
    max-width: 800px; 
    margin: 20px auto;
    padding-bottom: 60px;
}

.product-card{
    text-align:center;
    width: 200px;
    margin: 5px; 
}

.card-large-icon{
    font-size: 80px;
    transform: translateX(-100%);/* to center the character */
}

.card-text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}