<form class="align-horizontally align-vertically direction-column" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-inputs-spacing" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" maxlength="3" maxlength="25" placeholder="Name" formControlName="name">
        <mat-error>Please enter a valid name</mat-error>
    </mat-form-field>

    <mat-form-field class="form-inputs-spacing" appearance="fill">
        <mat-label>Manufacturer</mat-label>
        <mat-select formControlName="manufacturer">
          <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="form-inputs-spacing" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" min="1" placeholder="Price" formControlName="price">
        <mat-error >Please enter a valid price</mat-error>
    </mat-form-field>

    <mat-form-field class="form-inputs-spacing" appearance="fill">
        <mat-label>Expiry Date</mat-label>
        <input matInput type="date" [min]="today"  placeholder="Expiry Date" formControlName="expiryDate">
    </mat-form-field>

    <div class="form-controls">
        <button mat-raised-button color="warn" type="button" class="form-buttons" (click)="navigateHome()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" class="form-buttons">Submit</button>
    </div>
</form>