<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Navigation</span>
</mat-toolbar>
<mat-sidenav-container class="consume-space" autosize hasBackdrop>
    <mat-sidenav #sidenav mode="over" opened="false">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle(false)" [routerLink]="['/']">
                <mat-icon mat-list-icon>inventory</mat-icon>
                <p matLine>Products</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="sidenav.toggle(false)" [routerLink]="['/about']">
                <mat-icon mat-list-icon>info</mat-icon>
                <p matLine>About</p>
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>