<div class="align-horizontally align-vertically direction-column">
    <img src="/assets/profile.jpg" alt="Some really cool guy, drinking coffee" class="profile-image"/>
    <p>Simple Test App</p>
    <p>Nemanja Tesic</p>
    <p>v1.0.0</p>
</div>