/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Components Alignment */
.align-vertically, .align-horizontally, .direction-column{
  display: flex;
}

.direction-column{
  flex-direction: column;
}

.align-vertically{
  height: 100%;
  align-items: center;
}

.align-horizontally{
  justify-content: center;
}
