<h1 mat-dialog-title>Delete product</h1>
<div mat-dialog-content>Are you sure you want to delete this {{data}}?</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Close</button>
  <button mat-button [mat-dialog-close]="true">Delete</button>
</div>